{% extends "layout.html" %}

{% block content %}
    <div id="chatbox">
        <div id="conversation">
            <div class="bot-message">Hello! How can I assist you today?</div>
        </div>
        <input type="text" id="user-input" placeholder="Type a question...">
        <button id="send-btn">Send</button>
    </div>

    <div id="faq-section">
        <h3>Most Asked Questions</h3>
        <ul>
            {% for faq in most_asked %}
                <li><a href="#" class="faq-question" data-question="{{ faq['question'] }}">{{ faq['question'] }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}